name: arxiv-monitor

on:
  schedule:
    - cron: '1 4 * * *'
  workflow_dispatch:

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          DEEPL_API_KEY: ${{ secrets.DEEPL_API_KEY }}
          TEAMS_WEBHOOK_URL: ${{ secrets.TEAMS_WEBHOOK_URL }}
          AUTHORS: ${{ secrets.AUTHORS }}
        run: python "arxiv-monitor.py"
